.App {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-flow: column nowrap;
}
.menu {
    width: 100%;
    flex: 0 1 auto;
}
.gfx {
    flex: 100 1 content;
    min-height: 0px;
    min-width: 0px;
    resize: both;
}
.gfx img {
    min-height: 0px;
    min-width: 0px;
    resize: both;
    width: 100%;
    display: block;
}
